body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: #333;
}

h1 {
    text-align: center;
}

.container {
    margin: 0 auto;
    width: 300px; /* Chiều rộng mong muốn */
}

@media (max-width: 768px) {
    .container {
        width: 90%; /* Chiều rộng tối đa cho màn hình nhỏ */
    }
}


.input-group {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
}

button {
    margin-top: 10px;
    padding: 5px 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    background-color: #e8e8e8;
    color: #0e0a0a;
    cursor: pointer;
}

#result {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}
